
*.png

MNIST_data/train-images-idx3-ubyte

*.gz

MNIST_data/t10k-images-idx3-ubyte

MNIST_data/t10k-labels-idx1-ubyte

MNIST_data/train-labels-idx1-ubyte

.idea/ImageProcessing.iml

*.xml

*.pkl

datasets/__init__.pyc

*.pyc

*.pyc

*.pyc

*.pyc

loadData.pyc
